h1 {
    text-align: center;
    font-size: 50px;
    background-color: rgb(217, 89, 14);
    display: block;
    padding: 30px 0px;
    max-width: 100%;
    border: 1px solid rgb(44, 31, 0);
    display: flex;
    flex: row wrap;
    justify-content: center;
    color: #ffa43b;
    margin-top: 40px;
  }
  a {
    text-align: center;
    font-size:large;
    border: solid rgb(68, 57, 8) 1px;
    padding: 31px;
    background-color:rgb(255, 180, 4) ;
    color: #ff6600;
    display: flex;
    flex: row wrap;
    margin: 1px;
    
  }
  div{
    display: inline;
    display: flex;
    flex: row wrap ;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  html {
    background: linear-gradient(rgb(65, 39, 0), rgb(197, 107, 17), rgb(248, 206, 89), rgb(161, 79, 13));
    margin: 0%;
    display: flex;
    display: block;
  
  }
  a:hover{
    color: #ffd376;
  
  }
  img{
    margin-top: 0px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
    position: relative;
    max-width: 400px;
   margin-bottom: 100px;
    border: 3px solid rgb(222, 130, 0);
  
  }
  footer{
    color: rgb(15, 5, 41);
    display: inline;
  background-color: rgb(227, 227, 255);
  margin: 0px;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 0px;
  
  }
  footer img{
    display: inline;
    max-width: 30px;
   border: none;
   margin-top: 5px;

  }